:root {
    --color-logo-btn-main: #08A6E4;
    --color-bg-main: #FFFFFF;
    --color-bg-secondary: #F7F7F7;
    --font-family-OS: 'Open Sans', sans-serif;
    --font-family-R: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family-OS);
    width: 100vw;
}

/*Header*/

.header {
    width: 100%;
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
}

.header .container {
    max-width: 1352px;
    margin: 0 auto;
    background-color: var(--color-bg-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--color-logo-btn-main);
    font-family: var(--font-family-R);
    text-decoration: none;
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 17px;
    padding-top: 16px;
    padding-left: 136px;
}

.menu-list {
    display: flex;
    padding-bottom: 28px;
    padding-top: 27px;
    padding-right: 136px;
    gap: 95px;
}

.menu-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: #A5A5A5;
    font-family: var(--font-family-OS);
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 3.28px;
    opacity: 1;
    padding-bottom: 25px;
    padding-top: 27px;
    border-bottom: 4px solid transparent;
}

.menu-list a:hover {
    color: #000000;
    border-bottom-color: var(--color-logo-btn-main);
}

/*Main section (including Stats*/

.section {
    width: 100%;
}

.s-main {
    text-align: center;
    width: 100%
}

.s-main-h1-title {
    font-family: var(--font-family-R);
    font-size: 57px;
    color: #000000;
    padding-top: 130px;
    padding-bottom: 20px;
}

.s-main-h2-title {
    font-family: var(--font-family-R);
    font-size: 42px;
    color: #000000;
    padding-top: 100px;
    padding-bottom: 103px;
}

.s-main-txt {
    font-size: 22px;
    font-family: var(--font-family-OS);
    color: #000000;
    padding-bottom: 38px;
}

.s-main-btn-txt {
    color: var(--color-bg-main);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    font-family: var(--font-family-OS);
}

.s-main-btn {
    width: 440px;
    height: 67px;
    background-color: var(--color-logo-btn-main);
    border-radius: 40px;
    border: none;
    box-shadow: 5px 10px 14px #07ACE629;
}

.s-main-bg {
    background-image: url("../assets/background.png");
    width: 100vw;
    height: 430px;
    background-size: cover;
    background-position: center;
}

.stats {
    height: 531px;
}

.stats-container {
    display: flex;
    justify-content: center;
    gap: 240px;
}

.stats-entries {
    width: 116px;
    height: 140px;
}

.stats-products {
    width: 176px;
    height: 140px;
}

.stats-posts {
    width: 163px;
    height: 140px;
}

.stats-logo {
    display: flex;
    position: relative;
    justify-content: center;
}

.stats-entries-logo-el2 {
    position: absolute;
    height: 52px;
    width: 44px;
    bottom: 5px;
    left: 58px;
}

.stats-products-logo-el2 {
    position: absolute;
    width: 65px;
    height: 37px;
    bottom: 13px;
    left: 72px;
}

.stats-posts-logo-el2 {
    position: absolute;
    width: 52px;
    height: 48px;
    bottom: 10px;
    left: 80px;
}

.circle-small {
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.stats-entries-logo-el1 {
    background-color: #FB3B64;
}

.stats-products-logo-el1 {
    background-color: var(--color-logo-btn-main);
}

.stats-posts-logo-el1 {
    background-color: #55DFB4;
}

.stats-cont-h3-title {
    font-family: var(--font-family-R);
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 6px;
    color: #000000;
    padding-bottom: 19px;
    padding-top: 14px;
}

.stats-cont-description {
    font-family: var(--font-family-R);
    font-size: 20px;
    color: #A5A5A5;
    padding-bottom: 149px;
}

/*Grey section*/

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.s-grey {
    background-color: var(--color-bg-secondary);
    height: 1395px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-grey-el {
    width: 1124px;
    height: 370px;
    background-color: var(--color-bg-main);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
}

.s-grey-el1 {
    width: 623px;
}

.s-grey-el2 {
    width: calc(1124px - 623px);
}

.s-grey-el3 {
    background-color: #55DFB4;
    width: 440px;
    height: 370px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-grey-el:first-child {
    margin-top: 105px;
    margin-bottom: 37px;
}

.s-grey-el:last-child {
    margin-bottom: 105px;
    margin-top: 37px;
    background-color: var(--color-bg-secondary);
}

.s-grey-el-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s-grey-el-text.s-grey-el1 {
    background-color: var(--color-bg-main);
    width: 623px;
    padding-left: 35px;
}

.s-grey-el-text.s-grey-el1 .s-grey-h2-title {
    width: 237px;
}

.s-grey-el-text.s-grey-el2 .s-grey-h2-title {
    width: 246px;
}

.s-grey-el-last .s-grey-el-text.s-grey-el1 .s-grey-h2-title {
    width: 348px;
}

.s-grey-h2-title {
    font-family: var(--font-family-R);
    font-size: 36px;
    padding-bottom: 30px;
}

.s-grey-description {
    font-family: var(--font-family-OS);
    font-size: 16px;
    color: #000000;
    width: 416px;
}

.s-grey-el-last .s-grey-description {
    width: 553px;
}

.s-grey-description-line {
    height: 4px;
    width: 327px;
    border-radius: 5px;
    margin-top: 50px;
}

.s-grey-el-text.s-grey-el1 .s-grey-description-line {
    background-color: #FB3B64;
}

.s-grey-el-text.s-grey-el2 .s-grey-description-line {
    background-color: var(--color-logo-btn-main);
}

.s-grey-el-last .s-grey-el-text.s-grey-el1 .s-grey-description-line {
    background-color: #55DFB4;
}

.s-grey-el-figure {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.s-grey-el-figure.s-grey-el2 {
    width: 433px;
    height: 294px;
    margin-bottom: 38px;
    margin-top: 38px;
    margin-right: 71px;
    justify-content: right;
    align-items: start;
}

.s-grey-el-figure.s-grey-el1 {
    width: 426px;
    height: 328px;
    margin-bottom: 13px;
    margin-top: 29px;
    margin-left: 70px;
    justify-content: left;
    align-items: end;
}

.s-grey-el-figure-img1 {
    width: 386px;
    height: 219px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.s-grey-el-figure-img2 {
    width: 426px;
    height: 328px;
    position: absolute;
    left: 15px;
    bottom: 0;
}

.s-grey-el-figure-img3 {
    width: 296px;
}

.s-grey-el-figure-rect {
    width: 180px;
    height: 180px;
    rotate: 45deg;
    background-color: #FB3B64;
    border-radius: 41px;
    opacity: 1;
    margin-right: 40px;
    margin-top: 40px;
}

.s-grey-el-figure-circ {
    width: 320px;
    height: 320px;
    background-color: #07ACE6;
    border-radius: 50%;
    opacity: 1;
    margin-bottom: 25px;
}

/*Pricing*/

.s-pricing {
    padding-bottom: 155px;
}

.s-pricing-options {
    display: flex;
    gap: 58px;
    justify-content: center;
    align-items: center;
}

.s-pricing-option {
    width: 372px;
    height: 461px;
    border-radius: 18px;
    text-align: center;
    position: relative;
}

.s-pricing-option1 {
    border: 1px solid #FB3B64;
}

.s-pricing-option2 {
    width: 405px;
    height: 500px;
    box-shadow: 5px 10px 27px #07ACE629;
    border: 1px solid #07ACE6;
}
.s-pricing-option3 {
    border: 1px solid #55DFB4;
}

.s-pricing-h2-title {
    font-family: var(--font-family-R);
    font-size: 36px;
    color: #000000;
    text-align: center;
    padding-top: 116px;
    padding-bottom: 60px;
}

.s-pricing-h4-title {
    font-family: var(--font-family-R);
    font-weight: bold;
    font-size: 20px;
    color: #13253B;
    padding-top: 34px;
}

.s-pricing-price {
    font-family: var(--font-family-OS);
    font-weight: 300;
    font-size: 46px;
    padding-top: 17px;
}

.s-pricing-option1 .s-pricing-price {
    color: #FB3B64;
}

.s-pricing-option2 .s-pricing-price {
    color: #07ACE6;
}

.s-pricing-option3 .s-pricing-price {
    color: #55DFB4;
}

.s-pricing-price-sub {
    font-family: var(--font-family-R);
    font-weight: bold;
    font-size: 12px;
    color: #13253B;
    padding-top: 5px;
}

.s-pricing-txt-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 69px;
}

.s-pricing-option2 .s-pricing-txt-box {
    gap: 25px;
    padding-top: 66px;
}

.s-pricing-option3 .s-pricing-txt-box {
    padding-top: 55px;
}

.s-pricing-txt {
    font-family: var(--font-family-OS);
    font-size: 14px;
    color: #000000;
}

.s-pricing-option-btn {
    width: 150px;
    height: 50px;
    border-radius: 23px;
    border: none;
    position: absolute;
    bottom: -25px;
    left: 110px;
}

.s-pricing-option1 .s-pricing-option-btn {
    background-color: #EB476E;
}

.s-pricing-option-btn-txt {
    color: var(--color-bg-main);
    font-family: var(--font-family-OS);
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.s-pricing-option2 .s-pricing-option-btn {
    background-color: var(--color-logo-btn-main);
    bottom: -25px;
    left: 127px;
}

.s-pricing-option3 .s-pricing-option-btn {
    background-color: #55DFB4;
}

.s-pricing-option1 .s-pricing-txt:nth-child(1)::before,
.s-pricing-option1 .s-pricing-txt:nth-child(2)::before,
.s-pricing-option1 .s-pricing-txt:nth-child(3)::before,
.s-pricing-option2 .s-pricing-txt:nth-child(1)::before,
.s-pricing-option2 .s-pricing-txt:nth-child(2)::before,
.s-pricing-option2 .s-pricing-txt:nth-child(3)::before,
.s-pricing-option2 .s-pricing-txt:nth-child(4)::before,
.s-pricing-option3 .s-pricing-txt:nth-child(1)::before,
.s-pricing-option3 .s-pricing-txt:nth-child(2)::before,
.s-pricing-option3 .s-pricing-txt:nth-child(3)::before,
.s-pricing-option3 .s-pricing-txt:nth-child(4)::before,
.s-pricing-option3 .s-pricing-txt:nth-child(5)::before {
    content: url("../assets/ckechmark-1.svg");
    padding-right: 10px;
}

.s-pricing-option1 .s-pricing-txt:nth-child(4)::before,
.s-pricing-option1 .s-pricing-txt:nth-child(5)::before,
.s-pricing-option2 .s-pricing-txt:nth-child(5)::before {
    content: url("../assets/close.svg");
    padding-right: 10px;
}

/*Contacts*/

.s-contacts {
    display: flex;
    width: 896px;
    height: 376px;
}

.s-contacts-info {
    width: 50%;
}

.s-contacts-form {
    width: 50%;
}

.s-contacts-h1-title {
    font-family: var(--font-family-R);
    font-size: 49px;
    color: #000000;
}

.s-contacts-txt {
    font-family: var(--font-family-OS);
    font-size: 16px;
    color: #000000;
    padding-top: 22px;
    padding-bottom: 42px;
}

.s-contacts-details {
    display: flex;
    gap: 15px;
    font-family: var(--font-family-OS);
    font-size: 16px;
    font-weight: 600;
    color: #A5A5A5;
}

.s-contacts-email::before {
    content: url("../assets/mail-icon.svg");
    padding-right: 10px;
    position: relative;
    top: 9px;
    left: 0;
}

.s-contacts-phone::before {
    content: url("../assets/phone-icon.svg");
    padding-right: 10px;
    position: relative;
    top: 5px;
    left: 0;
}

.s-contacts-form-row {
    padding-bottom: 30px;
}

.s-contacts-form-row-name-l,
.s-contacts-form-row-email-l {
    text-transform: uppercase;
    font-family: var(--font-family-OS);
    font-size: 11px;
    font-weight: bold;
    color: var(--color-logo-btn-main);
    letter-spacing: 3.28px;
}

.s-contacts-form-row-name-i,
.s-contacts-form-row-email-i {
    height: 40px;
    border: none;
    border-bottom: 1px solid #707070;
    width: 100%;
}

.s-contacts-form-row-name-i:hover,
.s-contacts-form-row-email-i:hover {
    background-color: var(--color-bg-secondary);
    opacity: 0.5;
}

.s-contacts-form-row-checkbox {
    color: #707070;
    font-family: var(--font-family-OS);
    font-size: 12px;
}

.s-contacts-form-row-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.s-contacts-form-row-checkbox {
    cursor: pointer;
    display: flex;
}

.s-contacts-form-row-checkbox span {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    background-color: var(--color-bg-main);
    border: 1px solid #95989A;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
}
.s-contacts-form-row-checkbox input:checked + span {
    background-image: url("../assets/checkmark.svg");
    background-size: cover;
    background-position: center;
}

.s-contacts-form-row-last {
    padding-left: 213px;
}

.s-contacts-form-row-button {
    width: 226px;
    height: 57px;
    background-color: var(--color-logo-btn-main);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    border: none;
    font-family: var(--font-family-OS);
    font-weight: bold;
    font-size: 13px;
    color: var(--color-bg-main);
}

/*Footer*/

.s-footer {
    height: 89px;
    width: 100%;
    display: flex;
    background-color: var(--color-bg-secondary);
    box-shadow: 0 -5px 40px #00000029;
    justify-content: space-between;
    align-items: center;
}

.s-footer-logo {
    padding-left: 137px;
}

.s-footer-h1-title {
    font-family: var(--font-family-R);
    font-size: 26px;
    font-weight: 300;
    color: var(--color-logo-btn-main);
    padding-bottom: 6px;
}

.s-footer-copy {
    font-family: var(--font-family-OS);
    font-size: 11px;
    color: #A5A5A5;
}

.s-footer-media {
    padding-right: 136px;
    display: flex;
    gap: 24px;
}