$color-logo-btn-main: #08A6E4;
$color-bg-main: #FFFFFF;
$color-bg-secondary: #F7F7F7;
$font-family-OS: 'Open Sans', sans-serif;
$font-family-R: 'Raleway', sans-serif;

* {
    box-sizing: border-box;
}

.all {
    width: 1352px;
    font-family: $font-family-OS;
}

@media (max-width: 1352px) {
    .all {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}