$color-bg-main: #FFFFFF;
$color-bg-secondary: #F7F7F7;
$color-calc-summary-shadow: #00000029;
$color-calc-input-font: #A5A5A5;
$color-calc-checkbox-border: #95989A;
$color-calc-font-checkbox: #707070;
$color-calc-input-shadow: #08A6E429;
$color-calc-summary-bg: #55DFB4;
$color-logo-btn-main: #08A6E4;
$font-family-OS: 'Open Sans', sans-serif;
$font-family-R: 'Raleway', sans-serif;