.s-contacts {
    display: flex;
    width: 896px;
    height: 376px;
}

.s-contacts-info {
    width: 50%;
}

.s-contacts-form {
    width: 50%;
}

.s-contacts-h1-title {
    font-family: $font-family-R;
    font-size: 49px;
    color: #000000;
}

.s-contacts-txt {
    font-family: $font-family-OS;
    font-size: 16px;
    color: #000000;
    padding-top: 22px;
    padding-bottom: 42px;
}

.s-contacts-details {
    display: flex;
    gap: 15px;
    font-family: $font-family-OS;
    font-size: 16px;
    font-weight: 600;
    color: #A5A5A5;
}

.s-contacts-email {
    text-decoration: none;
    color: #A5A5A5;
}

.s-contacts-email::before {
    content: url("../assets/mail-icon.svg");
    padding-right: 10px;
    position: relative;
    top: 9px;
    left: 0;
}

.s-contacts-phone::before {
    content: url("../assets/phone-icon.svg");
    padding-right: 10px;
    position: relative;
    top: 5px;
    left: 0;
}

.s-contacts-form-row {
    padding-bottom: 30px;
}

.s-contacts-form-row-name-l,
.s-contacts-form-row-email-l {
    text-transform: uppercase;
    font-family: $font-family-OS;
    font-size: 11px;
    font-weight: bold;
    color: $color-logo-btn-main;
    letter-spacing: 3.28px;
}

.s-contacts-form-row-name-i,
.s-contacts-form-row-email-i {
    height: 40px;
    border: none;
    border-bottom: 1px solid #707070;
    width: 100%;
}

.s-contacts-form-row-name-i:hover,
.s-contacts-form-row-email-i:hover {
    background-color: $color-bg-secondary;
    opacity: 0.5;
}

.s-contacts-form-row-checkbox {
    color: #707070;
    font-family: $font-family-OS;
    font-size: 12px;
}

.s-contacts-form-row-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.s-contacts-form-row-checkbox {
    cursor: pointer;
    display: flex;
}

.s-contacts-form-row-checkbox span {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    background-color: $color-bg-main;
    border: 1px solid #95989A;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
}
.s-contacts-form-row-checkbox input:checked + span {
    background-image: url("../assets/checkmark.svg");
    background-size: cover;
    background-position: center;
}

.s-contacts-form-row-last {
    padding-left: 213px;
}

.s-contacts-form-row-button {
    width: 226px;
    height: 57px;
    background-color: $color-logo-btn-main;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    border: none;
    font-family: $font-family-OS;
    font-weight: bold;
    font-size: 13px;
    color: $color-bg-main;
}