.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.s-grey {
    background-color: $color-bg-secondary;
    height: 1395px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-grey-el {
    width: 1124px;
    height: 370px;
    background-color: $color-bg-main;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.s-grey-el1 {
    width: 623px;
}

.s-grey-el2 {
    width: calc(1124px - 623px);
}

.s-grey-el3 {
    background-color: #55DFB4;
    width: 440px;
    height: 370px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-grey-el:first-child {
    margin-top: 105px;
    margin-bottom: 37px;
}

.s-grey-el:first-child,
.s-grey-el:nth-child(2),
.s-grey-el-last .s-grey-el-text,
.s-grey-el-last .s-grey-el-figure {
    border: 1px solid #E8E9ED;
}

.s-grey-el:last-child {
    margin-bottom: 105px;
    margin-top: 37px;
    background-color: $color-bg-secondary;
}

.s-grey-el-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s-grey-el-text.s-grey-el1 {
    background-color: $color-bg-main;
    width: 623px;
    padding-left: 35px;
}

.s-grey-el-text.s-grey-el2 {
    padding-left: 60px;
}

.s-grey-el-text.s-grey-el1 .s-grey-h2-title {
    width: 237px;
}

.s-grey-el-text.s-grey-el2 .s-grey-h2-title {
    width: 246px;
}

.s-grey-el-last .s-grey-el-text.s-grey-el1 .s-grey-h2-title {
    width: 348px;
}

.s-grey-h2-title {
    font-family: $font-family-R;
    font-size: 34px;
    padding-bottom: 30px;
}

.s-grey-description {
    font-family: $font-family-OS;
    font-size: 16px;
    color: #000000;
    width: 416px;
    padding-bottom: 50px;
    margin: 0;
}

.s-grey-el-last .s-grey-description {
    width: 553px;
}

.s-grey-description-line {
    height: 4px;
    width: 327px;
    border-radius: 5px;
}

.s-grey-el-text.s-grey-el1 .s-grey-description-line {
    background-color: #FB3B64;
}

.s-grey-el-text.s-grey-el2 .s-grey-description-line {
    background-color: $color-logo-btn-main;
}

.s-grey-el-last .s-grey-el-text.s-grey-el1 .s-grey-description-line {
    background-color: #55DFB4;
}

.s-grey-el-figure {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.s-grey-el-figure.s-grey-el2 {
    width: 433px;
    height: 294px;
    margin: 38px 71px 38px 35px;
    justify-content: right;
    align-items: start;
}

.s-grey-el-figure.s-grey-el1 {
    width: 426px;
    height: 328px;
    margin-bottom: 13px;
    margin-top: 29px;
    margin-left: 70px;
    justify-content: left;
    align-items: end;
}

.s-grey-el-figure-img1 {
    width: 386px;
    height: 219px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.s-grey-el-figure-img2 {
    width: 426px;
    height: 328px;
    position: absolute;
    left: 15px;
    bottom: 0;
}

.s-grey-el-figure-img3 {
    width: 296px;
}

.s-grey-el-figure-rect {
    width: 180px;
    height: 180px;
    rotate: 45deg;
    background-color: #FB3B64;
    border-radius: 41px;
    opacity: 1;
    margin-right: 40px;
    margin-top: 40px;
}

.s-grey-el-figure-circ {
    width: 320px;
    height: 320px;
    background-color: #07ACE6;
    border-radius: 50%;
    opacity: 1;
    margin-bottom: 25px;
}

@media (max-width: 1100px) {
    .s-grey {
        width: 100vw;
        height: auto;
    }

    .s-grey-el {
        width: 625px;
        height: auto;
    }

    .s-grey-el:first-child {
        flex-direction: column-reverse;
        align-items: center;
    }

    .s-grey-el:nth-child(2),.s-grey-el:nth-child(3) {
        flex-direction: column;
        align-items: center;
    }

    .s-grey-el-figure.s-grey-el3 {
        width: 100%;
    }

    .s-grey-el-figure.s-grey-el2 {
        margin: 0;
    }

    .s-grey-el-figure.s-grey-el1 {
        margin-top: 40px;
        margin-left: 0;
        justify-content: center;
    }

    .s-grey-el-text.s-grey-el2,
    .s-grey-el-text.s-grey-el1 {
        padding-left: 50px;
        width: 100%;
    }

    .s-grey-el-text.s-grey-el1 {
        padding-top: 50px;
    }

    .s-grey-description-line {
        display: none;
    }
}

@media (max-width: 660px) {
    .s-grey-el.s-grey-el-last,
    .s-grey-el {
        width: 100vw;
    }

    .s-grey-el-text {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .s-grey-el-text.s-grey-el1 {
        width: calc(100vw - 1px);
    }

    .s-grey-el-last .s-grey-description {
        width: 416px;
    }

    .s-grey-el-figure-rect {
        height: 120px;
        width: 120px;
        border-radius: 32px;
        margin-right: 60px;
    }

    .s-grey-el-figure-circ {
        height: 210px;
        width: 210px;
        margin-bottom: 70px;
    }

    .s-grey-el-figure-img1,
    .s-grey-el-figure-img2,
    .s-grey-el-figure-img3 {
        height: 60%;
        width: 60%;
    }

    .s-grey-el-figure-img1 {
        left: 100px;
        bottom: 35px;
    }

    .s-grey-el-figure-img2 {
        left: 120px;
        bottom: 83px;
    }

    .s-grey-el-figure.s-grey-el3 .s-grey-el-figure-img {
        display: flex;
        justify-content: center;
    }

    .s-grey-el-text.s-grey-el2 .s-grey-h2-title {
        margin-top: 0;
    }

    .s-grey-el-text.s-grey-el1 .s-grey-h2-title,
    .s-grey-el-text.s-grey-el2 .s-grey-h2-title,
    .s-grey-el-last .s-grey-el-text.s-grey-el1 .s-grey-h2-title {
        width: 250px;
        padding-bottom: 10px;
    }

    .s-grey-el-last .s-grey-el-text.s-grey-el1 .s-grey-h2-title {
        padding-top: 15px;
    }

    .s-grey-el-last .s-grey-description,
    .s-grey-el:first-child .s-grey-description,
    .s-grey-el:nth-child(2) .s-grey-description {
        width: 300px;
    }

    .s-grey .s-grey-el,
    .s-grey-el-text.s-grey-el1,
    .s-grey-el.s-grey-el-last {
        width: 400px;
    }

    .s-grey-el-text.s-grey-el2,
    .s-grey-el-text.s-grey-el1 {
        padding-left: 15px;
    }

    .s-grey-el-figure.s-grey-el1 {
        margin-top: -20px;
    }
}

@media (max-width: 440px) {
    .s-grey .s-grey-el,
    .s-grey-el-text.s-grey-el1,
    .s-grey-el.s-grey-el-last {
        width: 314px;
    }

    .s-grey-el-figure-rect {
        margin-right: 90px;
    }

    .s-grey-el-figure-img1 {
        left: 84px;
    }
}