.all {
    padding: 0;
}

.header {
    width: 100%;
    height: 70px;
    box-shadow: 0 3px 6px 0 #00000029;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.logo {
    color: $color-logo-btn-main;
    font-family: $font-family-R;
    text-decoration: none;
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 17px;
    padding-top: 16px;
    padding-left: 136px;
}

.menu-list {
    display: flex;
    list-style-type: none;

    &-el {
        padding: 0 26px;
    }

    & a {
        color: #A5A5A5;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        padding-bottom: 27px;
        padding-top: 28px;
        text-decoration: none;
        font-family: $font-family-OS;
        letter-spacing: 3.28px;

        &:hover {
            color: #000000;
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 26px;
            text-decoration-color: $color-logo-btn-main;
        }
    }
}

.menu-btn {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
}

.menu-toggle {
    display: none;

    span {
        width: 20px;
        height: 2px;
        display: block;
        margin-bottom: 3px;
        background-color: $color-logo-btn-main;
        transition: .3s all ease-in-out;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 980px) {

    .logo {
        padding-left: 30px;
    }

    .menu-list {
        position: absolute;
        left: 0;
        top: 95px;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding-bottom: 20px;
        display: none;
    }

    .menu-list-el {
        padding: 0;
    }

    .menu-list a {
        display: block;
        padding: 14px 20px;
    }

    .menu-list a:hover {
        text-underline-offset: 8px;
    }

    .menu-btn:checked {

        ~ .menu-list {
            display: flex;
        }

        ~ .menu-toggle {

            span {

                &:nth-child(1) {
                    transform: rotate(45deg) translate(2px, 5px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(2px, -5px);
                }
            }
        }
    }

    .menu-toggle {
        display: block;
        padding-right: 30px;
    }
}