.section {
    width: 100%;
}

.section-1 {
    display: flex;
    flex-direction: column;
}
.s-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.s-main-title {
    font-family: $font-family-R;
    font-size: 57px;
    color: #000000;
    padding-top: 130px;
    padding-bottom: 20px;
}

.s-main-txt {
    font-size: 22px;
    font-family: $font-family-OS;
    color: #000000;
    padding-bottom: 38px;
    text-align: center;
}

.s-main-btn-txt {
    color: $color-bg-main;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    font-family: $font-family-OS;
}

.s-main-btn {
    width: 440px;
    height: 67px;
    background-color: $color-logo-btn-main;
    border-radius: 40px;
    border: none;
    box-shadow: 5px 10px 14px #07ACE629;
    margin-bottom: 40px;
}

.s-main-bg {
    height: 594px;
    width: 100%;
    background-image: url("../../assets/background.png");
    background-size: cover;
    background-position: center;
}

.s-stats {
    height: 531px;
    box-shadow: 0 -5px 80px #00000029;
    text-align: center;
    margin: 0;
}

.s-stats-title {
    font-family: $font-family-R;
    font-size: 42px;
    color: #000000;
    padding-top: 100px;
    padding-bottom: 103px;
    margin: 0;
}

.s-stats-container {
    display: flex;
    justify-content: center;
    gap: 240px;
}

.s-stats-entries {
    width: 116px;
    height: 140px;
}

.s-stats-products {
    width: 176px;
    height: 140px;
}

.s-stats-posts {
    width: 163px;
    height: 140px;
}

.s-stats-logo {
    display: flex;
    position: relative;
    justify-content: center;
}

.s-stats-entries-logo-el2 {
    position: absolute;
    height: 52px;
    width: 44px;
    bottom: 5px;
    left: 58px;
}

.s-stats-products-logo-el2 {
    position: absolute;
    width: 65px;
    height: 37px;
    bottom: 13px;
    left: 72px;
}

.s-stats-posts-logo-el2 {
    position: absolute;
    width: 52px;
    height: 48px;
    bottom: 10px;
    left: 80px;
}

.circle-small {
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.s-stats-entries-logo-el1 {
    background-color: #FB3B64;
}

.s-stats-products-logo-el1 {
    background-color: $color-logo-btn-main;
}

.s-stats-posts-logo-el1 {
    background-color: #55DFB4;
}

.s-stats-cont-title {
    font-family: $font-family-R;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 6px;
    color: #000000;
    padding-bottom: 19px;
    padding-top: 14px;
}

.s-stats-cont-description {
    font-family: $font-family-R;
    font-size: 20px;
    color: #A5A5A5;
    padding-bottom: 149px;
}

@media (max-width: 1100px) {
    .s-main-bg {
        height: 380px;
        background-size: auto 380px;
    }
    .s-stats-container {
        gap: 190px;
    }
}

@media (max-width: 1000px) {
    .s-stats-container {
        gap: 100px;
    }
    .s-stats-title {
        font-size: 32px;
    }
    .s-main-bg {
        height: 300px;
        background-size: auto 300px;
    }
    .s-main-btn {
        margin-bottom: 30px;
    }
}

@media (max-width: 830px) {
    .s-main-bg {
        height: 250px;
        background-size: auto 250px;
    }
    .s-main-title {
        padding-top: 90px;
    }
    .s-stats-container {
        gap: 70px;
        flex-direction: column;
        align-items: center;
    }
    .s-stats {
        height: 800px;
    }
    .s-stats-title {
        font-size: 27px;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .s-stats-cont-title {
        font-size: 20px;
        letter-spacing: 4px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .s-stats-cont-description {
        font-size: 17px;
        padding-bottom: 60px;
        margin: 0;
    }
}

@media (max-width: 550px) {
    .s-main-btn {
        width: 280px;
        border-radius: 30px;
    }

    .s-main-title {
        padding-top: 70px;
        font-size: 37px;
        padding-bottom: 0;
        margin: 0;
    }
    .s-main-txt {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .s-main-btn-txt {
        font-size: 20px;
    }

    .s-main-bg {
        height: 180px;
        background-size: auto 180px;
    }
}